@font-face {
  font-family: 'DIN';
  src: url('/webfonts/DIN.eot?#iefix') format('embedded-opentype'),  url('DIN.woff') format('woff'), url('DIN.ttf')  format('truetype'), url('DIN.svg#DIN') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DINBold';
  src: url('DINBold.eot?#iefix') format('embedded-opentype'),  url('DINBold.woff') format('woff'), url('DINBold.ttf')  format('truetype'), url('DINBold.svg#DINBold') format('svg');
  font-weight: normal;
  font-style: normal;
}



/*.ff-reg {
	font-family: 'DIN' , 'Helvetica', 'Arial' , sans-serif;
	font-weight: normal;
}*/

body {
    background-color: white;
}

header {
	background-color: black;
	color: white;
}

footer {
	background-color: black;
	color: white;
	font-family: 'DINBold', 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;

}

h1 {
    color: black;
    font-family: 'DINBold', 'Helvetica', 'Arial', sans-serif;
    font-size: 24px !important;

}

h2 {
	color: white;
	font-family: 'DINBold', 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;

}

h3{
	color: #C4C4C4;
	font-size: 14px;
}

p {
	font-family: 'DIN' , 'Helvetica', 'Arial' , sans-serif;
	font-weight: normal;
	color: #808080;
}

.nav {
	color: white; 
	font-family: 'DINBold', 'Helvetica', 'Arial', sans-serif;
	font-size: 12px;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul {
	font-family: 'DIN' , 'Helvetica', 'Arial' , sans-serif;
	font-weight: normal;
	font-size: 14px;
}

a {
	color: white;
}

a:hover {
	color: red;
}

.name {
	font-family: 'DINBold', 'Helvetica', 'Arial', sans-serif;
	font-size: 18px;
	color: white;
	

}