
@font-face {
  font-family: 'DINBold';
  src: url('DINBold.eot?#iefix') format('embedded-opentype'),  url('DINBold.woff') format('woff'), url('DINBold.ttf')  format('truetype'), url('DINBold.svg#DINBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
